<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: rgb(146, 185, 219); margin: 50px; padding: 50px; border-radius: 50px; border: rgb(12, 46, 77) 10px solid;">
        <h1 style="text-align:center; color:rgb(12, 46, 77)">Current Data Generator!</h1>
        <h2 style="text-align:center; color:rgb(12, 46, 77)">
            <%= date %>
        </h2>
    </div>
</body>
</html>