<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!---- Footer ---->
<div class="container">
    <footer class="py-3 my-4">
      <form action="/nav" method="POST">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item px-2 text-body-secondary"><input style="color: #595c5f !important;" class="nav-link" type="submit" name="nav" value="Home"></input></li>
          <li class="nav-item px-2 text-body-secondary"><input style="color: #595c5f !important;" class="nav-link" type="submit" name="nav" value="Catalog"></input></li>
          <li class="nav-item px-2 text-body-secondary"><a style="color: #595c5f !important;" href="https://github.com/iWolf22/The-Complete-2023-Web-Development-Bootcamp" target="_blank" class="nav-link">Github</a></li>
        </ul>
      </form>
      <p class="text-center text-body-secondary">Made with ♥ by Joshua Dierickse © <%= new Date().getFullYear() %></p>
    </footer>
</div>

</main>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="script.js"></script> 

</html>